.App {
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: lightblue;
  color: rgb(205, 133, 50);
}

.nav-links {
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}